body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* zabrání scrollování stránky při hře */
    background-color: #000; /* tmavé pozadí */
    font-family: 'Arial', sans-serif;
}

.container {
    z-index: 10; /* aby text a tlačítka byly nad hrou */
    position: relative;
}

#score, #bestScore {
    font-weight: bold;
    color: #0f0; /* zelené číslo skóre */
}

#restartBtn {
    margin-top: 10px;
}
