body {
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

canvas {
    display: block;
    background: #222;
    margin: 0 auto;
}

h1, p {
    color: #00ff00;
}
