body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

canvas {
    display: block;
    background: #222;
    margin: 0 auto;
}

.container {
    position: relative;
    z-index: 1; /* HTML nad canvas */
}

h1, p {
    color: #00ff00;
}
